<div class="chat-wrapper">
  <ng-container [ngTemplateOutlet]="usersProfile"></ng-container>

  <div class="header-chat-box"></div>

  <div class="message-chat-box">
    <div class="message-container">
      <ng-container *ngFor="let item of messages">
        <div class="message-wrapper">
          <div class="message">{{ item.message }}</div>
          <div class="profile-avatar"></div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="bottom-chat-box">
    <form
      class="container"
      (click)="handleSendMessage()"
      (keydown)="handleSendMessage($event)"
    >
      <mat-icon class="mat-icon-attach" matBadge="16">attach_file</mat-icon>
      <mat-icon class="mat-icon-reaction" matBadge="16">add_reaction</mat-icon>
      <input
        class="input-chat"
        type="text"
        [(ngModel)]="valueInput"
        [ngModelOptions]="{ standalone: true }"
        placeholder="input text"
      />
      <button class="button-chat" type="submit" mat-flat-button color="primary">
        Send
      </button>
    </form>
  </div>
</div>

<ng-template #usersProfile>
  <div class="users-profile"></div>
</ng-template>
