<div class="chat-wrapper">
  <ng-container [ngTemplateOutlet]="usersProfile"></ng-container>

  <app-header-chat></app-header-chat>
  <app-message-box-chat class="wh100"></app-message-box-chat>
  <app-footer-chat></app-footer-chat>
</div>

<ng-template #usersProfile>
  <div class="users-profile" *ngIf="listUsers.length">
    <ng-container *ngFor="let user of listUsers">
      <div
        class="user-profile"
        [ngStyle]="{
          'background-color': user.backgroundColor
        }"
      >
        <div class="list-user">
          {{ user?.id | titlecase }}
        </div>
      </div>
    </ng-container>
    <div class="user-profile"></div>

    <div class="user-profile"></div>
    <div class="user-profile"></div>
    <div class="user-profile"></div>
  </div>
</ng-template>
