<div class="chat-wrapper">
  <ng-container [ngTemplateOutlet]="usersProfile"></ng-container>

  <div class="header-chat-box"></div>

  <div #messageBox class="message-chat-box">
    <ng-container *ngIf="isLoaded; else showSpinner">
      <div
        class="message-container-other"
        *ngIf="currentMessages[tabIndex]?.length"
      >
        <ng-container
          *ngFor="let message of currentMessages[tabIndex]"
          [ngTemplateOutlet]="messages"
          [ngTemplateOutletContext]="{ message: message }"
        >
        </ng-container>
      </div>

      <div class="message-container" *ngIf="historyMessages[tabIndex]?.length">
        <ng-container
          *ngFor="let message of historyMessages[tabIndex]"
          [ngTemplateOutlet]="messages"
          [ngTemplateOutletContext]="{ message: message }"
        >
        </ng-container>
      </div>
    </ng-container>
  </div>

  <mat-tab-group
    animationDuration="0ms"
    (selectedTabChange)="changeTab($event)"
  >
    <ng-container *ngFor="let chat of chats">
      <mat-tab label="{{ chat.chatName }}"></mat-tab>
    </ng-container>
  </mat-tab-group>

  <div class="bottom-chat-box">
    <form class="container" (keydown)="handleSendMessage($event)">
      <mat-icon class="mat-icon-attach" matBadge="16">attach_file</mat-icon>
      <mat-icon class="mat-icon-reaction" matBadge="16">add_reaction</mat-icon>
      <input
        class="input-chat"
        type="text"
        placeholder="input text"
        [(ngModel)]="valueInput"
        [ngModelOptions]="{ standalone: true }"
      />
      <button
        mat-flat-button
        class="button-chat"
        type="submit"
        color="primary"
        (click)="handleSendMessage()"
      >
        Send
      </button>
    </form>
  </div>
</div>

<ng-template #messages let-message="message">
  <div
    class="message-wrapper"
    [ngClass]="{
      'right-position-message': message.position === 'right',
      'left-position-message': message.position === 'left'
    }"
  >
    <ng-container
      *ngIf="message.position === 'left'"
      [ngTemplateOutlet]="userAvatar"
      [ngTemplateOutletContext]="{ user: message }"
    ></ng-container>

    <div
      class="message"
      [ngClass]="
        message.firstName === user.firstName
          ? 'user-message'
          : 'interlocutors-message'
      "
    >
      {{ message.message }}
    </div>

    <ng-container
      *ngIf="message.position === 'right'"
      [ngTemplateOutlet]="userAvatar"
      [ngTemplateOutletContext]="{ user: message }"
    ></ng-container>
  </div>

  <div
    class="message-wrapper message-date"
    [ngClass]="{
      'right-position-message': message.position === 'right',
      'left-position-message': message.position === 'left'
    }"
  >
    {{ message.date | date: "h:mm MMM d, y" }}
  </div>
</ng-template>

<ng-template #usersProfile>
  <div class="users-profile" *ngIf="listUsers.length">
    <ng-container *ngFor="let user of listUsers">
      <div
        class="user-profile"
        [ngStyle]="{
          'background-color': user.backgroundColor
        }"
      >
        <div class="list-user">
          {{ user?.firstName[0] | titlecase }}
        </div>
      </div>
    </ng-container>
    <div class="user-profile"></div>

    <div class="user-profile"></div>
    <div class="user-profile"></div>
    <div class="user-profile"></div>
  </div>
</ng-template>

<ng-template #userAvatar let-user="user">
  <div
    [ngStyle]="{
      'background-color': user.backgroundColor
    }"
    class="profile-avatar"
  >
    <div class="profile-user-name">
      {{ user?.firstName[0] | titlecase }}
    </div>
  </div>
</ng-template>

<ng-template #showSpinner>
  <div class="spinner flex-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
