.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.header-chat-box {
  height: 65px;
  width: 100%;
  background: #030c1b;
}

.message-chat-box {
  width: 100%;
  height: 100%;
  background: #e3e3e3;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.bottom-chat-box {
  height: 55px;
  width: 100%;
  background: #030c1b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.users-profile {
  position: absolute;
  top: 0;
  right: -70px;
  width: 70px;
  height: 500px;
  background: #1413138a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 10px;
  .user-profile {
    margin: 10px 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-chat {
  height: 30px;
  color: black;
}

.button-chat {
  margin: 0 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  margin: 0 5px;
}

.mat-icon-attach {
  transform: rotate(45deg);
  color: #3c6abb;
}

.mat-icon-reaction {
  color: #f5d20d;
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
}

.message-date {
  margin: 0 10px 10px;
  color: black;
}

.right-position-message {
  justify-content: flex-end;
}

.left-position-message {
  justify-content: flex-start;
}

.message-box {
  display: flex;
  flex-direction: column;
}

.message {
  word-wrap: break-word;
  white-space: normal;
  font-size: 16px;
  max-width: 50%;
  border-radius: 10px;
  padding: 6px;
  margin: 10px 0;
}

.user-message {
  background: #0a81f9;
  color: #e3effe;
}

.interlocutors-message {
  background: #e9e9eb;
  color: #2d2d2d;
}

.profile-avatar {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 50%;
  margin-right: 5px;
}

mat-tab-group {
  background: #030c1b;
}

.message-chat-box::-webkit-scrollbar {
  width: 10px;
}

.message-chat-box::-webkit-scrollbar-track {
  background: #9b99958a;
}

.message-chat-box::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #383838;
}
