.header-chat-box {
  height: 65px;
  width: 100%;
  background: #030c1b;
}

.menu-icon {
  color: white;
}

.profile-chat {
  width: 40px;
  height: 40px;
  color: white;
  background: #000;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
}
