.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: white;
}

.title-login {
  margin-top: 50px;
  font-size: 36px;
}

.form-login {
  margin-top: 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a:hover {
  color: greenyellow;
  text-decoration: underline;
}

.button-login {
  margin: 20px;
}

.input-text {
  color: black;
  height: 30px;
  font-size: 20px;
}

.title-input {
  margin: 10px 0;
  font-size: 16px;
}
