.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.title-login {
  margin-top: 50px;
  font-size: 36px;
}

.form-login {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-login {
  margin: 20px;
}

.input-email {
  margin: 10px;
  color: black;
  height: 30px;
  font-size: 20px;
}

.title-input {
  font-size: 20px;
  margin: 10px;
}
