<div #messageBox appDragDropFileUpload class="message-chat-box relative">
  <ng-container>
    <div
      class="message-container-other"
      *ngIf="currentMessages[tabIndex]?.length"
    >
      <ng-container *ngFor="let message of currentMessages[tabIndex]">
        <ng-container
          [ngTemplateOutlet]="messages"
          [ngTemplateOutletContext]="{ message: message }"
        >
        </ng-container>
        <div
          class="message-wrapper message-date"
          [ngClass]="{
            'right-position-message': message.position === 'right',
            'left-position-message': message.position === 'left'
          }"
        >
          {{ message.date | date: "h:mm MMM d, y" }}
        </div>
      </ng-container>
    </div>

    <div
      class="message-container"
      *ngIf="historyMessages.length && user.length"
    >
      <ng-container *ngFor="let message of historyMessages">
        <div
          class="message-wrapper message-date"
          [ngClass]="{
            'right-position-message': message.position === 'right',
            'left-position-message': message.position === 'left'
          }"
        >
          {{ message.date | date: "h:mm MMM d, y" }}
        </div>

        <ng-container
          [ngTemplateOutlet]="messages"
          [ngTemplateOutletContext]="{ message: message }"
        >
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="isOpenEmoji">
    <emoji-mart
      class="absolute"
      (emojiSelect)="emojiSelect($event)"
    ></emoji-mart>
  </ng-container>
</div>

<ng-template #messages let-message="message">
  <div
    class="message-wrapper"
    [ngClass]="{
      'right-position-message': message.position === 'right',
      'left-position-message': message.position === 'left'
    }"
  >
    <ng-container
      *ngIf="message.position === 'left'"
      [ngTemplateOutlet]="userAvatar"
      [ngTemplateOutletContext]="{ user: message }"
    ></ng-container>

    <div
      class="message"
      [ngClass]="
        message.user.id === user?.id ? 'user-message' : 'interlocutors-message'
      "
    >
      {{ message.data }}
    </div>

    <ng-container
      *ngIf="message.position === 'right'"
      [ngTemplateOutlet]="userAvatar"
      [ngTemplateOutletContext]="{ user: message }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #userAvatar let-user="user">
  <div
    [ngStyle]="{
      'background-color': user.backgroundColor
    }"
    class="profile-avatar"
  >
    <div>
      {{ user?.id | titlecase }}
    </div>
  </div>
</ng-template>

<ng-template #showSpinner>
  <div class="spinner flex-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
