<div #messageBox appDragDropFileUpload class="wh100 message-chat-box relative">
  <ng-container>
    <div class="message-container-other" *ngIf="currentMessages?.length">
      <ng-container *ngFor="let message of currentMessages">
        <ng-container
          [ngTemplateOutlet]="messages"
          [ngTemplateOutletContext]="{ message: message }"
        >
        </ng-container>
        <div
          class="message-wrapper message-date"
          [ngClass]="{
            'right-position-message': message.position === 'right',
            'left-position-message': message.position === 'left'
          }"
        >
          {{ message.date | date: "h:mm MMM d, y" }}
        </div>
      </ng-container>
    </div>

    <div class="message-container" *ngIf="historyMessages.length">
      <ng-container *ngFor="let message of historyMessages">
        <div
          class="message-wrapper message-date"
          [ngClass]="{
            'right-position-message': message.position === 'right',
            'left-position-message': message.position === 'left'
          }"
        >
          {{ message.date | date: "h:mm MMM d, y" }}
        </div>

        <ng-container
          [ngTemplateOutlet]="messages"
          [ngTemplateOutletContext]="{ message: message }"
        >
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="isOpenEmoji$ | async">
    <emoji-mart
      class="absolute"
      (emojiSelect)="emojiSelect($event)"
    ></emoji-mart>
  </ng-container>
</div>

<ng-template #messages let-message="message">
  <div
    class="message-wrapper"
    [ngClass]="{
      'right-position-message': message.position === 'right',
      'left-position-message': message.position === 'left'
    }"
  >
    <ng-container
      *ngIf="message.position === 'left'"
      [ngTemplateOutlet]="userAvatar"
      [ngTemplateOutletContext]="{ user: message.user }"
    ></ng-container>

    <div
      class="message"
      [ngClass]="{
        disabled: isEditMessage,
        'user-message': message.user?.id === user?.id,
        'interlocutors-message': message.user?.id !== user?.id
      }"
      [matMenuTriggerFor]="menu"
      (keydown)="handleDisableEdit($event)"
      (focus)="handleDisableEdit()"
      [contentEditable]="isEditMessage"
      #messageContainer
    >
      {{ message.data }}
      <div class="flex-wrap" *ngIf="message.payload?.length">
        <ng-container *ngFor="let file of message.payload">
          <div>
            <img class="message-file" [src]="sanitize(file['url'])" alt="" />
          </div>
        </ng-container>
      </div>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="repeatMessage(message)">
        Repeat message
      </button>
      <button mat-menu-item (click)="editMessage(message)">Edit message</button>
      <button mat-menu-item (click)="deleteMessage(message)">
        Delete message
      </button>
    </mat-menu>

    <ng-container
      *ngIf="message.position === 'right'"
      [ngTemplateOutlet]="userAvatar"
      [ngTemplateOutletContext]="{ user: message.user }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #userAvatar let-user="user">
  <div
    [ngStyle]="{
      'background-color': user.backgroundColor
    }"
    class="profile-avatar"
  >
    <div>
      {{ user?.firstName[0] | titlecase }}
    </div>
  </div>
</ng-template>

<ng-template #showSpinner>
  <div class="spinner flex-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
