.layout-wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: #141d2b;
  position: sticky;
}

.content {
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
}

.content-wrapper {
  position: relative;
  width: 50%;
  margin: 10px;
}
