/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/color.global.scss";
@import "./assets/styles/flex.global.scss";
@import "./assets/styles/indents.global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline-style: none;
}

html,
body {
  height: 100%;
  background: #141d2b;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}
