.sidebar {
  position: fixed;
  height: 100%;
  width: 50px;
  background: #1413138a;
}

.wrapper {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-active {
  width: 100%;
  border-left: 5px solid #db3939;
  background: rgba(122, 104, 104, 0.322);
}
